.poster__list-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-items: center;
  margin: 0 0.8rem 0 0.4rem;
  position: relative;
}

.poster__list-background {
  background: linear-gradient(to top, black, 90%, gray);
}

.poster__list-title {
  height: 5.2rem;
  color: $color-yellow;
  background-color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.4rem 0;
}

.poster__list-items {
  display: flex;
  width: 100%;
  height: 45rem;
  position: relative;
  overflow: hidden;
}

.poster__list-item {
  display: flex;
  position: absolute;
  height: 15rem;
  color: white;
  font-size: 1.5rem;
  padding-left: 1.6rem;
  width: 100%;
  transition: transform $transition-time;
}

.item__img-wrapper {
  position: relative;
  padding: 1.6rem 0 0;
  width: 8.8rem;
}

.item__img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.item__details-wrapper {
  position: absolute;
  // width: 100%;
  left: 11.2rem;
  padding: 1.8rem 0.8rem 0;
  cursor: pointer;
  &:hover .item__detail-icon {
    color: $color-yellow;
  }
}
.item__detail-title {
  font-size: 1.6rem;
  line-height: 2rem;
}
.item__detail-subtitle {
  font-size: 1.4rem;
  color: $white-70;
  line-height: 2rem;
}

.item__details-block {
  margin-bottom: 0.3rem;
}

.item__detail-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
}
.item__detail-duration {
  display: inline-block;
  font-family: Roboto;
  font-size: 1.4rem;
  color: $white-70;
  vertical-align: baseline;
  line-height: 2rem;
}
