.container__carousel {
  display: flex;
  width: $container-width;
  margin: 0.8rem auto;
}

.carousel {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 100%;
  margin: 0 0.8rem;
  width: calc($container-width/3 * 2);
  overflow: hidden;
}
.carousel__slider-wrapper {
  position: relative;
  align-items: flex-start;
  // padding-bottom: 7rem;
  width: 100%;
  height: 55rem;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform $transition-time;
  padding-bottom: 7rem;
  width: 100%;
  &:hover .trailer__detail-icon {
    color: $color-yellow;
  }
  .trailer__img {
    width: calc($container-width/3 * 2);
    object-fit: cover;
  }
}

.trailer__button {
  color: white;
  position: absolute;
  border-radius: 0.4rem;
  top: 30%;
  border: 1px solid $white-70;
  padding: 2rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  &:hover {
    color: $color-yellow;
    cursor: pointer;
  }
  &.prev {
    z-index: 1;

    left: 0;
  }
  &.next {
    right: 0;
  }
}

.slide__basement {
  display: flex;
}

.poster {
  position: absolute;
  bottom: 0;
  left: 1.6rem;
  width: 16.5rem;
  z-index: 1;
  &:hover {
    cursor: default;
  }

  & .ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 5.6rem;
    z-index: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }

    & .ribbon__watchlist {
      width: 100%;
      height: auto;
      transition: fill 0.5 ease-in-out;

      & .watchlist-ribbon__bg-ribbon {
        fill: white;
      }
    }
  }
}

.poster__img {
  width: 100%;
}

.trailer__basement-details {
  display: flex;
  position: absolute;
  color: white;
  left: 17.7rem;
  right: 0;
  bottom: 0;
  margin: 1.6rem 1.6rem 0 1.6rem;
  cursor: pointer;
  &:hover .trailer__detail-icon {
    color: $color-yellow;
  }
}
.trailer__detail-icon-wrapper {
  margin-right: 1.6rem;
}
.trailer__detail-icon {
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.trailer__details-text {
  display: flex;
  flex-direction: column;
}
.trailer__details-block {
  display: flex;
  width: 100%;
}

.trailer__detail-title {
  font-size: 3.4rem;
  line-height: 4rem;
  width: 100%;
}

.trailer__detail-duration {
  align-self: flex-end;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-left: 3.2rem;
  color: $white-70;
  vertical-align: baseline;
}

.trailer__detail-subtitle {
  font-size: 2rem;
  color: $white-70;
  line-height: 2.4rem;
}
