.container {
  display: flex;
  // align-items: center;
  width: 128rem;
  margin: 0 auto;
}

.container__trailer {
  display: flex;
  // align-items: center;
  position: relative;
  height: 45rem;
  margin-right: 1.5rem;
  width: calc(2 * (128rem - 1.5rem) / 3);
  overflow: hidden;
}
.container__trailer-slider {
  display: flex;
  align-items: center;
}

.container__trailer-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s;
}
.trailer__img {
  width: 100%;
  object-fit: cover;
}

.trailer__button {
  color: white;
  position: absolute;
  border-radius: 0.4rem;
  top: 50%;
  border: 1px solid $white-70;
  padding: 2rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  &:hover {
    color: $color-yellow;
    cursor: pointer;
  }
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
}

.poster__list {
  color: $color-yellow;
  background-color: black;
  font-size: 1.6rem;
  width: calc((128rem - 1.5rem) / 3);
}
